html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none
}

body{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #f8c0f1;
}

h1, h2, h3 {
  font-family: 'Germania One', cursive;
  font-size: 32px;
}

a{
  color: #336699;
}

h1, h2, h3, p{
  margin-bottom: 16px;
}

.icon {
  margin-right: 8px;
  float: left;
  font-size: inherit
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.header{
  padding: 32px 0;
  margin-bottom: 32px;
  border-bottom: 1px dotted #ccc;
}

.header nav {
  float:right;
}

.header .logo {
  float: left;
}

.header .mobile-menu{
  display: none;
}

.header nav ul {
  float: left;
}

.header nav ul li{
  display: block;
  float:left;
  margin-left: 16px;
}

h1{
  text-align: center;
}

.content{
  width: 95%;
  height: 45vh;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.content .column1, .content .column2, .content .column3, .content .column4{
  padding: 1% 1%;
  margin: 0 3%;
  line-height: 30vh;
}
.content div:nth-child(odd){
  border: solid 1px purple;
  background-color: aquamarine;
  color: purple;
}

.content div:nth-child(even){
  border: solid 1px aqua;
  background-color: purple;
  color: aqua;
  font-weight: bold;
}


.footer {
  padding: 32px 0;
  background-color: #83617d;
  margin-top: 32px;
}

.footer ul{
  text-align: center;
}

.footer ul li{
  display: inline-block;
  margin: 0 auto;
  padding: 0 5%;

}

.footer li a{

  color: #ffffff;
  font-weight: bold;
}

/* MEDIA QUERY PARA PANTALLAS ANCHO MAX 600px */
@media only screen and (max-width: 600px) {
  .content, .side-bar {
    width: 100%;
  }

  .header nav ul{
    display: none;
  }

  .header{
    position: fixed;
    top:0;
    left:0;
    right: 0;
  }  
  .content{
    padding-top: 125px;
  }

  .header .mobile-menu{
    display: block;
  }

  /* OJO CON ESTO QUE NO SIEMPRE FUNCIONA ES UN SELECTOR REBUSCADO
   - NO ES UNA BUENA PRÁCTICA*/
  .header .mobile-menu+ul{
    display: block;
    position: fixed;
    /* top:  */
  }
  
  .footer ul li{
    display: block;
    float:left;
    margin-left: 16px;
  }
}